<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="wwl">
		<title>天天习题-刷刷刷</title>
		<link rel="shortcut icon" href="xiaodi.ico" />
		<script type="text/javascript" src="js/view_fixed_m.js"></script>
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="js/el/index.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<style>

		</style>
	</head>

	<body id="myApp">
		<div id="app" class="">
			<div class="page-content">
				<!--head-->
				<div class="head">
					<div class="back unvisable"><span class="icon-back"></span></div>
					<div class="title">习题册</div>
					<div class="close unvisable"><span>关闭</span></div>
				</div>
				<!--head end-->
				<!--body-->
				<div class="body ">
					<div class="work-content">
						<div class="title">
							习题册
						</div>
						<div class="list">
							<el-scrollbar style="height:100%;width: 100%;">
								<template v-if="listArr != undefined && listArr.length > 0 ">
									<template v-for="item in listArr">
										<div class="item">
											<div class="icon"></div>
											<div class="name"><span>项目负责人资料（B证）项目负责人资料（B证）</span></div>
											<div class="btn">
												<el-button type="primary" size="mini" @click="goTest(item.id)">做题</el-button>
											</div>
										</div>
									</template>
								</template>
								<template v-else>
									<el-empty description="暂无数据"></el-empty>
								</template>

							</el-scrollbar>
						</div>
					</div>
				</div>
				<!--body end -->
			</div>

			<!--loading-->
			<div class="z-mask " v-bind:class="{hide:isNotLoading}"></div>
			<div class="z-loading " v-bind:class="{hide:isNotLoading}">
				<img src="images/loading3.gif">
				<p class="txt">正在加载</p>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/Vue/vue.js"></script>
		<script type="text/javascript" src="js/el/index.js"></script>
		<script type="text/javascript" src="js/store.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					isNotLoading: true,
					listArr: [],
				},
				mounted: function() {
					//获取本地习题册数据
					this.getLocalData();
				},
				methods: {
					/*
					 * 获取本地习题册数据
					 */
					getLocalData() {
						this.isNotLoading = false;
						var that = this;
						var queryUrl = "json/main.json";
						//console.log("查询角色-----" + queryUrl)
						$.ajax({
							type: "GET",
							url: queryUrl,
							data: {},
							dataType: 'json',
							success: function(res) {
								that.listArr = res
								console.log(res)
							},
							error: function() {
								that.$message({
									message: '未找到习题数据!',
									type: 'error',
									showClose: true,
									offset: 80
								});
							},
							complete: function() {
								that.isNotLoading = true;
							}
						})
					},
					
					/*
					 * 去做题
					 */
					goTest(_id) {
						console.log(_id)
						this.listArr.map(e => {
							if(e.id == _id) {
								store.set("exercisesData", e);
								window.location.href = "test.html";
							}
						})
					}

				}
			});
		</script>
	</body>

</html>