.clearfix:before,
.clearfix:after {
	display: table;
	content: " "
}

.clearfix:after {
	clear: both
}

/*
 * 通用css 
 * */

.hide {
	display: none!important
}

.z-mask {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	opacity: 0.2;
	z-index: 8888
}

.z-mask3 {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	opacity: 0.6;
	z-index: 9999
}

.z-mask2 {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	opacity: 1;
	z-index: 9999
}

.z-mask-print {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #E3E3E5;
	opacity: 1;
	z-index: 6666
}

.z-loading {
	z-index: 9999;
	position: fixed;
	width: 120px;
	height: 120px;
	top: 50%;
	left: 50%;
	background: #444343;
	opacity: 1;
	border-radius: 12px;
	transform: translate(-50%, -50%)
}

.z-loading img {
	width: 75px;
	height: 75px;
	display: block;
	margin: 10px auto 0
}

.z-loading p {
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	width: 100%;
	margin: 0;
	color: #fff;
	overflow: auto;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	border: none;
	outline: none
}

button,
button:hover,
button:focus {
	outline: none;
}

select,
select:hover,
select:focus {
	outline: none;
}


/*
 * 通用css
 */

.pull-right {
	float: right !important;
}


/**
 * element reset
 */

.el-input__inner[type=number] {
	padding-right: 0;
}